@using Robs_Blog.Models
@model IEnumerable<BlogPost>
@{
    ViewBag.Title = "About";
}

    <section class="site-section pt-5">
        <div class="container">

            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4">Hello World, My name is Roberto Hernandez</h2>
                            <p class="mb-5"><img src="~/Images/aiBlur_blog.jpg" alt="Image placeholder" class="img-fluid"></p>
                            <p>Hello, my name is Roberto Hernandez, I have been studying computer programming for about 5 years now and plan on keep on learning for many more years to come.</p>
                            <p>During high school I had only taken a couple courses that introduced programming briefly, but that was all it had to take to get me hooked into the world of programming. 
                            I didn't really have a plan after high school, but I knew that working with computers was the calling for me ever since I was a young boy, I've always had a passion for computers and learning how to use them.</p>
                            <p>I decided after high school that I would dedicate myself to go into the IT field and go straight into the workforce, so I went to Forsyth Community College and got an Associates in Applied Science in Computer Programming,
                            which was the best decision I could have possibly made. I have not stopped learning ever since I graduated High school because there’s always something new to learn, for example, I was recently introduced to MVC programming architecture
                            which I had never used and was able to build some cool projects using it. It wasn't easy learning it, but I was able to learn it which just encourages me more in learning much, much more.</p>
                        </div>
                    </div>
                </div>

                <!-- END main-content -->

                <div class="col-md-12 col-lg-4 sidebar">                    
                    
                </div>
            </div>
        </div>
    </section>